@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-home {
    background-image: url("https://www.linkpicture.com/q/background-2_2.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }

  .social-link {
    @apply inline-block
        w-10
        h-10
        bg-white bg-opacity-80
        rounded-full
        inline-flex;
  }
}
